<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Coupon xxx</mat-card-title>
        <mat-card-subtitle>Company Name</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/Pictures/dominik-scythe-yzX0GucnmtY-unsplash.jpg" alt="Coupon                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       ">
    <mat-card-content>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt inventore porro laborum? </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Purchase Now</button>
    </mat-card-actions>
</mat-card>