<div>
    <mat-grid-list cols="4" rowHeight="4:6">
        <mat-grid-tile>
            <app-coupon></app-coupon>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-coupon></app-coupon>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-coupon></app-coupon>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-coupon></app-coupon>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-coupon></app-coupon>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-coupon></app-coupon>
        </mat-grid-tile>

    </mat-grid-list>
</div>